.row{
    display: flex;
    border-bottom: 1px solid #EDEDF4;
    border-radius: 3px;
}
.cellNumber{
    margin-right: 60px;
    width: 188px;
}
.cellName{
    margin-right: 60px;
    width: 267px;
}
.cellCode{
    margin-right: 60px;
}
.cellClass{
    margin-right: 56px;
}
.cellDate{
    margin-right: 60px;
}
.cellWebsite{

}
